@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fcfcfc; /* একদম পিওর হোয়াইট না দিয়ে হালকা অফ-হোয়াইট */
  color: #1a1a1a;
}
